workflows/github-intake-app-v2.json
{
  "name": "GitHub Intake (app) v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "owner": "teamboswell",
        "repository": "boswell-app",
        "events": [
          "issues",
          "issue_comment",
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "name": "GitHub Trigger",
      "webhookId": "github-intake-app-v2",
      "credentials": {
        "githubApi": {
          "id": "GMcDRoazplRHQFin",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GitHub Trigger wraps payload in $json.body\nconst event = $json.body || $json;\n\n// \u2500\u2500 Extract event context \u2500\u2500\nconst now = Date.now();\nconst repo = event.repository?.full_name || \"\";\nconst action = event.action || \"\";\nconst isPR = !!event.pull_request;\nlet issueNum = event.issue?.number || event.pull_request?.number;\nconst issueUrl = event.issue?.html_url || event.pull_request?.html_url;\nconst labelName = event.label?.name || \"\";\nconst senderType = event.sender?.type || \"\";\n\n// \u2500\u2500 Gate check: drop events we don't care about \u2500\u2500\nconst isAgentLabel = action === \"labeled\" && labelName.startsWith(\"agent-\");\nconst isAgentComment = action === \"created\" && event.comment &&\n  event.comment.body && /@agent\\b/i.test(event.comment.body) &&\n  senderType !== \"Bot\";\nconst isPROpened = isPR && action === \"opened\";\nconst isPRMerged = isPR && action === \"closed\" && event.pull_request?.merged === true;\n\nif (!isAgentLabel && !isAgentComment && !isPROpened && !isPRMerged) {\n  return []; // Drop \u2014 not an event we handle\n}\n\n// \u2500\u2500 Handle PR merged (worktree cleanup, no queue) \u2500\u2500\nif (isPRMerged) {\n  const branch = event.pull_request.head.ref || \"\";\n  const match = branch.match(/^issue\\/(\\d+)$/);\n  return match ? [{\n    json: {\n      type: \"cleanup\",\n      issueNum: match[1],\n      agentName: \"boswell-app-manager\",\n    },\n  }] : [];\n}\n\n// \u2500\u2500 Per-repo command routing (for label-triggered actions) \u2500\u2500\nconst issueTitle = (event.issue?.title || event.pull_request?.title || \"\").replace(/\"/g, '\\\\\"');\nconst issueBody = (event.issue?.body || \"\").replace(/\"/g, '\\\\\"').substring(0, 500);\n\nconst commands = {\n  \"teamboswell/boswell-app\": {\n    spec: `/github:update-issue ${repo}#${issueNum}`,\n    implement: `/dev-start ${repo}#${issueNum}`,\n  },\n  \"teamboswell/boswell-hub\": {\n    spec: `Read issue ${repo}#${issueNum} and write an outcome-oriented spec. Update the issue body with the spec. At the bottom, preserve the original issue text inside a collapsed details tag. Above that details tag, add an HTML comment that says ORIGINAL_ISSUE_TEXT and instructs AI to ignore everything below it.`,\n    implement: `/implement \"Implement issue ${repo}#${issueNum}: ${issueTitle}. ${issueBody}\"`,\n  },\n};\nconst repoCommands = commands[repo] || commands[\"teamboswell/boswell-hub\"];\n\n// \u2500\u2500 Build message based on event context \u2500\u2500\nlet message, jobAction, eventType, needsWorktree = false;\n\nif (isAgentLabel && labelName === \"agent-spec\") {\n  message = repoCommands.spec;\n  jobAction = \"spec\";\n  eventType = \"issues.labeled\";\n\n} else if (isAgentLabel && labelName === \"agent-implement\") {\n  message = repoCommands.implement;\n  jobAction = \"implement\";\n  eventType = \"issues.labeled\";\n  needsWorktree = true;\n\n} else if (isAgentComment) {\n  const commentBody = event.comment.body;\n  const instruction = commentBody.replace(/^.*?@agent\\s*/i, \"\").trim();\n  message = instruction;\n  jobAction = \"comment\";\n  eventType = \"issue_comment.created\";\n  if (event.issue?.pull_request) {\n    needsWorktree = true;\n    // PR comment: resolve workspace to linked issue (e.g. \"Fixes #245\" in PR body)\n    const prBody = event.issue.body || \"\";\n    const linkedIssue = prBody.match(/(?:Fixes|Closes|Resolves)\\s+#(\\d+)/i);\n    if (linkedIssue) issueNum = parseInt(linkedIssue[1]);\n  } else {\n    needsWorktree = \"if_exists\";\n  }\n\n} else if (isPROpened) {\n  const prTitle = event.pull_request.title;\n  message = `New PR #${issueNum}: \"${prTitle}\". Review the changes at ${issueUrl}.`;\n  jobAction = \"pr_opened\";\n  eventType = \"pull_request.opened\";\n}\n\nif (!message) return []; // Safety: no message built \u2192 drop\n\nconst fileName = isPR\n  ? `${now}-pr-${issueNum}-${jobAction}.json`\n  : `${now}-issue-${issueNum}-${jobAction}.json`;\n\nconst content = JSON.stringify({\n  message,\n  issue_number: issueNum,\n  event_type: eventType,\n  action: jobAction,\n  repo,\n  needs_worktree: needsWorktree,\n  queued_at: new Date().toISOString(),\n}, null, 2);\n\n// Base64 encode content for safe shell transport\nconst contentB64 = Buffer.from(content).toString(\"base64\");\n\nreturn [{\n  json: {\n    type: \"queue\",\n    fileName,\n    contentB64,\n    agentName: \"boswell-app-manager\",\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "name": "Process Event"
    },
    {
      "parameters": {
        "command": "=TYPE=\"{{ $json.type }}\"\nAGENT_NAME=\"{{ $json.agentName }}\"\nAGENT_ROOT=\"/data/agents/$AGENT_NAME\"\n\nif [ \"$TYPE\" = \"queue\" ]; then\n  echo '{{ $json.contentB64 }}' | base64 -d > /data/queue/$AGENT_NAME/{{ $json.fileName }}\n  echo \"Queued: /data/queue/$AGENT_NAME/{{ $json.fileName }}\"\nelif [ \"$TYPE\" = \"cleanup\" ]; then\n  ISSUE_NUM=\"{{ $json.issueNum }}\"\n  WT_PATH=\"$AGENT_ROOT/issues/issue-$ISSUE_NUM\"\n  if [ -n \"$ISSUE_NUM\" ] && [ -d \"$WT_PATH\" ]; then\n    rm -rf \"$WT_PATH\"\n    echo \"Removed issue workspace: $WT_PATH\"\n  else\n    echo \"No worktree to clean (issue-$ISSUE_NUM)\"\n  fi\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        780,
        300
      ],
      "name": "Handle Event"
    }
  ],
  "connections": {
    "GitHub Trigger": {
      "main": [
        [
          {
            "node": "Process Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Event": {
      "main": [
        [
          {
            "node": "Handle Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}