workflows/github-intake-app-v2.json
{
  "name": "GitHub Intake (app) v2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "owner": "teamboswell",
        "repository": "boswell-app",
        "events": [
          "issues",
          "issue_comment",
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "name": "GitHub Trigger",
      "webhookId": "github-intake-app-v2",
      "credentials": {
        "githubApi": {
          "id": "GMcDRoazplRHQFin",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GitHub Trigger wraps payload in $json.body\nconst event = $json.body || $json;\n\nconst repo = event.repository?.full_name || \"\";\nconst action = event.action || \"\";\nconst isPR = !!event.pull_request;\nlet issueNum = event.issue?.number || event.pull_request?.number;\nconst issueUrl = event.issue?.html_url || event.pull_request?.html_url;\nconst labelName = event.label?.name || \"\";\nconst senderType = event.sender?.type || \"\";\n\n// Gate check\nconst isAgentLabel = action === \"labeled\" && labelName.startsWith(\"agent-\");\nconst isAgentComment = action === \"created\" && event.comment &&\n  event.comment.body && /@agent\\b/i.test(event.comment.body) &&\n  senderType !== \"Bot\";\nconst isPROpened = isPR && action === \"opened\";\nconst isPRMerged = isPR && action === \"closed\" && event.pull_request?.merged === true;\n\nif (!isAgentLabel && !isAgentComment && !isPROpened && !isPRMerged) {\n  return [];\n}\n\n// PR merged: workspace cleanup\nif (isPRMerged) {\n  const branch = event.pull_request.head.ref || \"\";\n  const match = branch.match(/^issue\\/(\\d+)$/);\n  return match ? [{ json: { type: \"cleanup\", issueNum: match[1], agentName: \"boswell-app-manager\" } }] : [];\n}\n\n// Prompt construction for claude -p\nconst prompts = {\n  spec: `Read issue ${repo}#${issueNum} using gh issue view ${issueNum} --repo ${repo}. Write a detailed specification for this issue. Update the issue body with the spec using gh issue edit. At the bottom, preserve the original issue text inside a collapsed HTML details tag.`,\n  implement: `Implement the requirements described in issue ${repo}#${issueNum}. Read the issue spec with gh issue view ${issueNum} --repo ${repo}. Write the code, run tests, commit your changes, push the branch, and create a pull request. In the PR description, include Fixes #${issueNum}.`,\n};\n\nlet message, jobAction, needsWorktree = \"false\";\n\nif (isAgentLabel && labelName === \"agent-spec\") {\n  message = prompts.spec;\n  jobAction = \"spec\";\n} else if (isAgentLabel && labelName === \"agent-implement\") {\n  message = prompts.implement;\n  jobAction = \"implement\";\n  needsWorktree = \"true\";\n} else if (isAgentComment) {\n  message = event.comment.body.replace(/^.*?@agent\\s*/i, \"\").trim();\n  jobAction = \"comment\";\n  if (event.issue?.pull_request) {\n    needsWorktree = \"true\";\n    const prBody = event.issue.body || \"\";\n    const linked = prBody.match(/(?:Fixes|Closes|Resolves)\\s+#(\\d+)/i);\n    if (linked) issueNum = parseInt(linked[1]);\n  } else {\n    needsWorktree = \"if_exists\";\n  }\n} else if (isPROpened) {\n  message = `New PR #${issueNum}: \"${event.pull_request.title}\". Review the changes at ${issueUrl}.`;\n  jobAction = \"pr_opened\";\n}\n\nif (!message) return [];\n\nconst messageB64 = Buffer.from(message).toString(\"base64\");\n\nreturn [{\n  json: {\n    type: \"dispatch\",\n    agentName: \"boswell-app-manager\",\n    repo,\n    issueNum: String(issueNum),\n    action: jobAction,\n    messageB64,\n    needsWorktree,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "name": "Process Event"
    },
    {
      "parameters": {
        "command": "=TYPE=\"{{ $json.type }}\"\nAGENT_NAME=\"{{ $json.agentName }}\"\nAGENT_ROOT=\"/data/agents/$AGENT_NAME\"\n\nif [ \"$TYPE\" = \"dispatch\" ]; then\n  RESULT=$(curl -s -X POST \"http://localhost:8080/api/v2/dags/agent-dispatch/enqueue\" \\\n    -H \"Content-Type: application/json\" \\\n    -d '{\"params\": \"AGENT_NAME={{ $json.agentName }} REPO={{ $json.repo }} ISSUE_NUM={{ $json.issueNum }} ACTION={{ $json.action }} NEEDS_WORKTREE={{ $json.needsWorktree }} MESSAGE_B64={{ $json.messageB64 }}\"}')\n  echo \"Enqueued via Dagu: {{ $json.agentName }} issue #{{ $json.issueNum }} ({{ $json.action }})\"\n  echo \"Dagu response: $RESULT\"\nelif [ \"$TYPE\" = \"cleanup\" ]; then\n  ISSUE_NUM=\"{{ $json.issueNum }}\"\n  WT_PATH=\"$AGENT_ROOT/issues/issue-$ISSUE_NUM\"\n  if [ -n \"$ISSUE_NUM\" ] && [ -d \"$WT_PATH\" ]; then\n    rm -rf \"$WT_PATH\"\n    echo \"Removed issue workspace: $WT_PATH\"\n  else\n    echo \"No workspace to clean (issue-$ISSUE_NUM)\"\n  fi\nfi"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        780,
        300
      ],
      "name": "Handle Event"
    }
  ],
  "connections": {
    "GitHub Trigger": {
      "main": [
        [
          {
            "node": "Process Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Event": {
      "main": [
        [
          {
            "node": "Handle Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
